.content{
    background-color: #e6e5c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc( 100vh - 120px);
    width: 100%;
    padding-top: 60px; /* Adjust for the height of the navbar */
    margin: 0;
    font-size: 1rem;
}